body {
  background-color: #C8AAAA;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.table {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #574964;
  width: 70%;
  border: 2px solid #9F8383;
  /*---------- Name ----------*/
  /*---------- Create ----------*/
  /*---------- Scroll ----------*/
}
.table .name_case_table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #9F8383;
}
.table .name_case_table .case {
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.table .name_case_table .case_start {
  text-align: start;
}
.table .name_case_table .case_center {
  text-align: center;
}
.table .create {
  background-color: #C8AAAA;
  color: #574964;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  border: 2px solid #9F8383;
  border-radius: 2px;
}
.table .create:hover {
  animation: chose_box 0.5s ease forwards;
}
@keyframes chose_box {
  0% {
    box-shadow: 0px 0px 0px #574964;
    transform: scale(1);
  }
  100% {
    box-shadow: 0px 0px 5px #574964;
  }
}
.table .scroll_table {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: 310px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #9F8383 #C8AAAA;
}
.table .scroll_table .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.table .scroll_table .row .case {
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.table .scroll_table .row .case button {
  font-size: 20px;
  color: #C8AAAA;
  padding: 5px;
  background-color: #9F8383;
  border-radius: 2px;
  border: 0px;
}
.table .scroll_table .row .case_start {
  text-align: start;
}
.table .scroll_table .row .case_center {
  text-align: center;
}
