* {
  border: 2px solid #ff0000;
}

body {
  font-size: 20px;
  background-color: #C8AAAA;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  color: #574964;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 10%;
  padding: 5px 20px 20px 20px;
  border: 2px solid #9F8383;
}
.table .table_case_name {
  border-bottom: 2px solid #9F8383;
}
.table .case_name {
  width: 100%;
}
.table .details_name {
  width: 10%;
}
.table .sub_table {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #9F8383 #C8AAAA;
}
.table .table_case {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.table .table_case .case {
  text-align: start;
  width: 100%;
}
.table .table_case .block_link {
  display: flex;
  flex-direction: row;
  color: inherit;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  text-decoration: none;
}
.table .table_case .link_show {
  display: flex;
  justify-content: start;
  color: #C8AAAA;
  width: 10%;
  text-decoration: none;
}
.table .table_case .link_show .button_details {
  background-color: #574964;
  padding: 5px 10px;
  border-radius: 5px;
}
